<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>RealCustomerServlet</servlet-name>
        <servlet-class>presentation.old.RealCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRealCustomerServlet</servlet-name>
        <servlet-class>presentation.old.AddRealCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRealCustomerServlet</servlet-name>
        <servlet-class>presentation.old.EditRealCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LegalCustomerServlet</servlet-name>
        <servlet-class>presentation.old.LegalCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLegalCustomerServlet</servlet-name>
        <servlet-class>presentation.old.AddLegalCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditLegalCustomerServlet</servlet-name>
        <servlet-class>presentation.old.EditLegalCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRealCustomerServlet</servlet-name>
        <servlet-class>presentation.old.SearchRealCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchLegalCustomerServlet</servlet-name>
        <servlet-class>presentation.old.SearchLegalCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateLoanTypeServlet</servlet-name>
        <servlet-class>presentation.CreateLoanTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGrantConditionServlet</servlet-name>
        <servlet-class>presentation.AddGrantConditionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllLoanTypesServlet</servlet-name>
        <servlet-class>presentation.AllLoanTypesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoanTypeDetailsServlet</servlet-name>
        <servlet-class>presentation.LoanTypeDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateLoanFileServlet</servlet-name>
        <servlet-class>presentation.CreateLoanFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProblemFoundServlet</servlet-name>
        <servlet-class>presentation.ProblemFoundServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RealCustomerServlet</servlet-name>
        <url-pattern>/realCustomersHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRealCustomerServlet</servlet-name>
        <url-pattern>/addRealCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRealCustomerServlet</servlet-name>
        <url-pattern>/editRealCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LegalCustomerServlet</servlet-name>
        <url-pattern>/legalCustomersHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLegalCustomerServlet</servlet-name>
        <url-pattern>/addLegalCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditLegalCustomerServlet</servlet-name>
        <url-pattern>/editLegalCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRealCustomerServlet</servlet-name>
        <url-pattern>/searchRealCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchLegalCustomerServlet</servlet-name>
        <url-pattern>/searchLegalCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateLoanTypeServlet</servlet-name>
        <url-pattern>/createLoanType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGrantConditionServlet</servlet-name>
        <url-pattern>/addGrantCondition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllLoanTypesServlet</servlet-name>
        <url-pattern>/allLoanTypes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoanTypeDetailsServlet</servlet-name>
        <url-pattern>/loanTypeDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateLoanFileServlet</servlet-name>
        <url-pattern>/createLoanFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProblemFoundServlet</servlet-name>
        <url-pattern>/problemFoundServlet</url-pattern>
    </servlet-mapping>
</web-app>