@font-face {
    font-family: 'BNazaninFont';
    src: url('Assets/BNazaninRegular.ttf');
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    -webkit-text-fill-color: white;
}

#grantConditions {
    border-collapse: collapse;
    width: 100%;
}

#grantConditions td, #grantConditions th {
    border: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
    padding: 8px;
}

#grantConditions tr:nth-child(even) {
    background-color: #f2f2f2
}

#grantConditions tr:hover {
    background-color: #ddd;
}

#grantConditions th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #ab82ff;
    color: white;
}

#allLoans {
    border-collapse: collapse;
    width: 100%;
}

#allLoans td, #allLoans th {
    border: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
    padding: 8px;
}

#allLoans tr:nth-child(even) {
    background-color: #f2f2f2
}

#allLoans tr:hover {
    background-color: #ddd;
}

#allLoans th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: lightcoral;
    color: white;
}

.loanLabel {
    color: black;
    align-self: center;
    font-size: 16px;
    font-weight: bold;
    font-family: 'BNazaninFont';
}

.loanField {
    cursor: pointer;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    background-color: white;
    color: #000000;
    text-align: center;
    font-size: 16px;
    align-self: center;
}

.conditionField {
    width: 15%;
    height: 5%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    cursor: pointer;
}

.continueButton {
    cursor: pointer;
    width: 10%;
    height: 5%;
    border: none;
    border-radius: 40px;
    background-color: #4CAF50;
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    transition-duration: 0.4s;
}

.purpleContinueButton {
    cursor: pointer;
    width: 10%;
    height: 5%;
    border: none;
    border-radius: 40px;
    background-color: #ab82ff;
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    transition-duration: 0.4s;
}

.resetButton {
    cursor: pointer;
    width: 10%;
    height: 5%;
    border: none;
    border-radius: 40px;
    background-color: deepskyblue;
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    transition-duration: 0.4s;
}

.returnButton {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #ab82ff;
    background-image: url('Assets/rightArrow.png');
    background-repeat: no-repeat;
    background-position: center;
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.4s;
}

.pinkReturnButton {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: lightcoral;
    background-image: url('Assets/rightArrow.png');
    background-repeat: no-repeat;
    background-position: center;
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.4s;
}

.goldReturnButton {
    cursor: pointer;
    width: 10%;
    height: 5%;
    border: none;
    border-radius: 40px;
    background-color: darkgoldenrod;
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    transition-duration: 0.4s;
}

.viewDetailsButton {
    cursor: pointer;
    width: 16px;
    height: 16px;
    border: none;
    background-color: white;
    background: url("Assets/view_details.png");
}

.customLabel {
    color: black;
    align-self: center;
    font-size: 16px;
    font-weight: bold;
    font-family: 'BNazaninFont';
}

.searchBox {
    width: 15%;
    height: 5%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    margin-right: 5em;
}

.select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 15%;
    height: 5%;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-style select:focus {
    outline: none;
}

.messageLabel {
    list-style-type: disc;
    margin: 0 10px 15px 10px;
    padding: 8px 35px 8px 30px;
    color: #B94A48;
    background-color: #F2DEDE;
    border: 2px solid #EED3D7;
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

html * {
    color: #000 !important;
    font-family: BNazaninFont !important;
}

body {
    background-size: 100% 100%;
    background-image: url("Assets/background.jpg");
    background-repeat: no-repeat;
    background-position: right;
}